html {
  body {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 1.46rem;
  }
  a {
    text-decoration: none;
    color: darkblue;
    &:hover {
      color: orange;
    }
  }
}

.wrapper {
  display: grid;
}

.header {
  padding: 1rem;
  margin: 0 0 2rem 0;
  border-bottom: thin solid darkblue;
  .wrapper {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
  }
  .title {
    font-size: 3rem;
    grid-column: span 4;
  }
  .main-nav {
    grid-column: span 4;
    ul  {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // grid-auto-rows: minmax(100px, auto);
      grid-gap: 1rem;
      li {
        font-size: 1.5rem;
        &.selected {
          text-decoration: overline;
          * {
            color: darkorange;
          }

        }
      }
    }
  }
}

#body {
  padding: 1rem;
  margin: 0 0 2rem 0;
  min-height: 80vh;
  .wrapper{

    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
  }

  .blog-header {
    padding: .5rem;
    margin: 0 0 1rem 0;
    border: thin solid darkblue;
    grid-column: span 4;
    grid-row: 1;

    p{
      margin: 0;
    }
  }

  .blog-content-list {
    grid-column: 2/9;
    grid-row: 2;
  }

}

.list-item {

  .list-blog-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    &>* {
      padding: 1rem;
    }
    .list-blog-date {
      grid-column: span 1;
      border-bottom: thin solid darkblue;

      .dt-published {
        font-size: 1.25rem;
        color: chartreuse;
      }
    }
    .list-blog-author {
      grid-column: span 1;
      border-right: thin solid darkblue;
      border-bottom: thin solid darkblue;
      font-size: 1.25rem;
      color: chartreuse;
    }
    .p-name{
      grid-column: span 4;
      border-top: thin solid darkblue;

      font-size: 3rem;
      line-height: 1.76*2rem;

      font-weight: normal;
      margin: 0;
    }
    img {
      grid-column: span 3;
      border-bottom: thin solid darkblue;
      padding-bottom: 1rem;
      display: block;
      width: 100%;
    }
  }
  .list-blog-padding {
    .p-summary {
      width: 80%;
    }
    .prev-next {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      & a:last-child {
        text-align: right;
      }
    }
  }
}

.blog-content-item  {
  grid-column: span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  #item {
    grid-column: span 6;
    img {
      // display: block;
      // width: 100%;
    }

  }
  #sidebar {
    grid-column: 7/9;
  }
}

.footer {
  background-color: darkblue;
  color: white;
  padding: 1rem;
  .wrapper{

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  a {
    color: lightblue;
  }

}
